<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
            border: solid 1px black;
            border-collapse: collapse;
            padding: 10px;
        }

        .main_table{
            margin-top: 30px;
        }

        .navigation{
            border: 5px outset red;
            background-color: lightblue;
            text-align: left;
            padding: 10px;
            word-spacing: 10px;
        }
    </style>
    <meta charset="UTF-8">
    <title>Member</title>
</head>

<body>

<div id="placeholder"></div>

<div>
    <h2>MEMBERS</h2>
</div>

<div class="navigation">
    <a href="/member/add">ADD</a>
    <a href="/">HOME</a>
</div>


<table class="main_table">
    <thead>
    <tr>
        <th>NAME</th>
        <th>ADDRESS</th>
        <th>TEL</th>
        <th colspan="4">OPERATIONS</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="member: ${memberList}">
        <td th:text="${member.name}"></td>
        <td th:text="${member.address}"></td>
        <td th:text="${member.tel}"></td>
        <td><button th:onclick="update([[${member.id}]])">UPDATE</button></td>
        <td><button th:onclick="del([[${member.id}]])">DELETE</button></td>
        <td><button th:onclick="borrow([[${member.id}]])">BORROW</button></td>
    </tr>
    </tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
    function update(id){
        $.ajax({
            url: '/member/update',
            type: 'get',
            data: { 'id': id },
            success: function( data ) {
                $('#placeholder').html(data);
            },
            error: function(result){
                alert("Error: " + result);
            }
        });
    }
    function del(id){
        $.ajax({
            url: '/member/del',
            type: 'get',
            data: { 'id': id },
            success: function( data ) {
                $('#placeholder').html(data);
            },
            error: function(result){
                alert("Error: " + result);
            }
        });
    }
    function rent(id){
        alert("The id : " + id);
    }
</script>
</body>
</html>