<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            width: 500px;
            transition: 0.3s;
        }
        .container {
            padding: 2px 16px;

        }
    </style>
    <title>BOOK ADD</title>
</head>
<body>
<form name="addbook" th:object="${book}" method="post" th:action="@{/book/add}">
    <div class="card">
        <div class="container">
            <fieldset>
                <legend>Book:</legend>
                <table>
                    <tbody>
                    <tr>
                        <td><label>Title</label></td>
                        <td><input type="text" th:field="*{title}"></td>
                    </tr>
                    <tr>
                        <td><label>Author</label></td>
                        <td><input type="text" th:field="*{author}"></td>
                    </tr>
                    <tr>
                        <td><label>Publisher</label></td>
                        <td><input type="text" th:field="*{publisher}"></td>
                    </tr>
                    <tr>
                        <td><label>Publish Date</label></td>
                        <td><input type="text" th:field="*{datePublish}"></td>
                    </tr>
                    <tr>
                        <td>
                            <button onclick="window.location='/book'; return false;">Cancel</button>
                        </td>
                        <td>
                            <button type="submit">Save</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
</form>
</body>
</html>